body {
    font-family: "Avenir Next";
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
  
.header {
    background-color: #26d075;
    color: #fff;
    height: 100px;
    width: 100%;
    padding: 30px;
    float: left;
}
  
.header-logo {
    float: left;
    font-size: 48px;
    padding-left: 10px;
    padding-right: 30px;
}
  
.header-list li {
    float: left;
    padding: 20px 20px;
    font-size: 20px;
    list-style: none;
}
.notice{
    background-color: #ff0000;
}

.main {
    background-color: #91edeef1;
    font-size: 20px;
}
.top-welcome{
    font-size: 60px;
    width: 100%;
    padding: 100px 80px;
    background-color: #fff;

}
.contents {
    background-color: #91edeef1;
    height:500px;
    font-size: 20px;
  }
.section-title {
    border-bottom: 2px solid #dee7ec;
    padding-top: 10px;
    padding-left: 5px;
}
.contents-item {
    float:left;
    padding: 10px;
}
.contents-item li{
    list-style: none;

}


.intro{
    font-size: 24px;
    padding: 10px;
    float:right;
    background-color: #91edeef1;

}



.footer {
    background-color: #2f5167;
    color: #fff;
    height: 200px;
    bottom: 0;
}
  
.footer-logo {
    font-size: 32px;
}
  
.footer-list {
    float: right;
}
  
.footer-list li {
    padding-bottom: 20px;
    list-style: none;
}
  