/*header*/
* {
    margin:0; padding:0;
}
header {
    height: 100px;
    width: 100%;
    padding: 15px 0;
    background-color: #337079;
    color: white;
}
header .headline{
    line-height: 100px;
    float: left;
    font-size: 30px;
    margin-left: 100px;
}
header .nav-list {
    line-height: 100px;
    float: left;
    margin-left: 30px;
    list-style: none;
}
header .nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
/*body*/

body {
    font-family: "Avenir Next";
}

p {
    font-size:60px;
}

li {
    list-style-type: none;
    margin-left: 24px;
    float:right;
}

.header {
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
    border-bottom: 2px solid #dee7ec;
}
  
.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}
  
.header-list li {
    float: left;
    padding: 33px 20px;
    list-style-type: none;
}

.copy-container h1 {
    font-size: 140px;
}
  
.copy-container h2 {
    font-size: 60px;
}

.copy-container span {
    color: #ff4a4a;
}

.notice-title {
    border-bottom: 2px solid #000000;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

/*Notice*/


.section-title {
    border-bottom: 2px solid #000000;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.charenging {
    border-bottom: 2px solid #000000;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.charenging li {
    list-style-type: disc;
    margin-left: 24px;
}

/*ここから変更*/
