header {
    height: 100px;
    width: 100%;
    padding: 15px 0;
    background-color: #337079;
    color: white;
}
nav{
    width: 500px;
    background-color: greenyellow;
}
ul{
    display: flex;
}
li{
     list-style: none;
     margin-left: 20px;
}